body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--verde-soft);
  color: var(--text-dark);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: block;
}

.loading {
  width: 50px;
  height: 50px;
  border: 4px solid var(--verde-light);
  border-top-color: var(--verde-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

