:root {
  --verde-primary: #4CAF50;
  --verde-light: #A5D6A7;
  --verde-pastel: #C8E6C9;
  --verde-soft: #E8F5E9;
  --text-dark: #2E2E2E;
  --text-medium: #555;
  --white: #ffffff;

  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--verde-soft);
  color: var(--text-dark);
}

a {
  color: var(--verde-primary);
  text-decoration: none;
}

a:hover {
  color: #2e7d32;
}

button {
  border-radius: 6px;
  border: none;
  padding: 0.6em 1.2em;
  background-color: var(--verde-primary);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  background-color: #43a047;
}

body {
  padding-bottom:160px;
  background-color: var(--verde-soft);
  font-family: 'Roboto', sans-serif;
}
.consultar-container, .listar-container, .cardapio-container {
  max-width: 1000px;
  margin: 25px auto;
}

