.perfilContainer {
  padding: 25px;
  background-color: var(--white);
  width: 400px;
  margin: 40px auto;
  border-radius: 12px;
  border-left: 5px solid var(--verde-primary);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.perfilTitulo {
  text-align: center;
  font-size: 1.8rem;
  color: var(--verde-primary);
  margin-bottom: 20px;
}

.infoUsuario {
  font-size: 1.2rem;
  color: var(--text-medium);
  margin-bottom: 10px;
}
