.listar-container {
  padding: 30px;
  background-color: var(--white);
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  border-radius: 12px;
  border-left: 5px solid var(--verde-primary);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background-color: var(--verde-primary);
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  background-color: var(--verde-soft);
  border-bottom: 2px solid var(--verde-pastel);
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
}

button:nth-child(1) {
  background-color: #e53935;
  color: white;
}

button:nth-child(2) {
  background-color: #fdd835;
  color: black;
}

button:nth-child(3) {
  background-color: #43a047;
  color: white;
}
